
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Contest</title>

         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
         integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />

         <link rel="stylesheet" href="/CSS/create-contest.css">
    </head>
    <body>
        <style>
            #container {
                width: 1000px;
                margin: 20px auto;
            }
            .ck-editor__editable[role="textbox"] {
                /* editing area */
                min-height: 400px;
            }
            .ck-content .image {
                /* block images */
                max-width: 80%;
                margin: 20px auto;
            }
        </style>
        <div id="container">
            <!-- <div id="editor">
            </div> -->

            <div class="container">
                <div class="my-3">
                    <h3 style=" font-family: Inter;" class="text-light fw-bold">Create Contest</h3>
                    <h6 style="font-family: Inter;" class="text-light mb-3">Fill out all the details for creating contest. </h6>
    
                </div>
                {{#if messages.success}}
      <div class="alert alert-success text-success fw-bold p-3" role="alert">
  <i class="fa-solid fa-circle-check"></i> New contest has been created !
</div>
{{/if}}
{{#if messages.error}}
      <div class="alert alert-danger text-danger fw-bold p-3" role="alert">
  <i class="fa-solid fa-circle-xmark"></i> There is a problem in creating new contest. Please contact developer or try again later!
</div>
{{/if}}
                <div class="form-container">
                    <div style="font-size: 14px; font-family: Inter;" class="alert alert-success p-2 mt-0 fw-bold text-success" role="alert">
                        <i class="fa-solid fa-image"></i>   Paste the link of the image hosted elsewhere.
                      </div>

                      
                    <form action="/admin/create-contest"   method="POST" >
                        
                        <div class="input-group">
                            <input style="width: 100%;" required="" type="text" name="title" autocomplete="off" class="input">
                            <label class="user-label">Contest Title</label>
                        </div>
                        <div class="input-group">
                            <input style="width: 100%;" required="" type="text" name="subheading" autocomplete="off" class="input">
                            <label class="user-label">Contest Sub heading (Eg. Topic, info etc.)</label>
                        </div>
                        <!-- <div class="input-group">
                            <input required="" type="text" name="text" autocomplete="off" class="input">
                            <label class="user-label">Contest Type (Eg. Quiz, Coding etc)</label>
                        </div> -->
                        <div class="input-group d-flex align-items-center">
                            <!-- <input required="" type="text" name="text" autocomplete="off" class="input"> -->
                            <!-- <label class="user-label">Contest Title</label> -->
                            <!-- <input type="text"> -->
                            <label class="label-for-select fw-bold"  for="contest_type">Contest Type  &nbsp;  &nbsp;</label>
                            <select style="width: 300px;" name="contest_type" id="contest_type">  
                                <option value="Quiz">Quiz</option>
                                <option value="Coding">Coding</option>
                                <option value="Other">Other</option>
                                <!-- <option value="audi">Audi</option> -->
                            </select>
                        </div>

                      
                        <div id="registration-timeline" class="input-group d-flex flex-row justify-content-between">
                            <p class="m-0 fw-bold">Registration Timeline</p>
                           <p>Registration Starts <input required="" type="datetime-local" name="reg_startDate" autocomplete="off" class="input"></p>
                           <p>Registration Ends <input required="" type="datetime-local" name="reg_endDate" autocomplete="off" class="input"></p>
                        </div>
                        <div id="contest-timeline" class="input-group d-flex flex-row justify-content-between">
                            <p class="m-0 fw-bold">Contest Timeline</p>
                           <p>Contest Starts <input required="" type="datetime-local" name="contest_startDate" autocomplete="off" class="input"></p>
                           <p>Contest Ends <input required="" type="datetime-local" name="contest_endDate" autocomplete="off" class="input"></p>
                        </div>

                        <div id="input-flex" class="d-flex justify-content-between">
                            <div class="input-group">
                                <input required="" type="number" name="slots" autocomplete="off" class="input">
                                <label class="user-label">Slots Avalilable</label>
                            </div>
                            <div class="input-group">
                                <input required="" type="number" name="total_winners" autocomplete="off" class="input">
                                <label class="user-label">Total Winners
                                </label>
                            </div>
                            <div class="input-group">
                                <input required="" type="text" name="contest_link" autocomplete="off" class="input">
                                <label class="user-label">Contest Link
                                </label>
                            </div>
                        </div>
                        <div class="input-group">
                            <textarea style="width: 100%;" rows="3" required="" type="text" name="eligiblity" autocomplete="off" class="input">
                                </textarea>
                                <label class="user-label">Eligiblity (Optional)</label>
                            </div>
                            <div class="input-group">
                                <textarea style="width: 100%;" required="" rows="3" type="text" name="guidelines" autocomplete="off" class="input">
                                    </textarea>
                                <label class="user-label">Guidelines (Optional)</label>
                            </div>
                            <div class="input-group">
                                <input style="width: 100%;" required="" type="text" name="img" autocomplete="off" class="input">
                                <label class="user-label">Image link (1280 x 480px)</label>
    
                            </div>
                        <!-- <div class="input-group">
                            <textarea style="width: 100%;" required="" rows="5" type="text" name="text" autocomplete="off" class="input">
                                </textarea>
                            <label class="user-label">Description</label>
                        </div> -->
                        <div class="input-group">
                            <h6>Description (Also add How to Participate)</h6>
                                <textarea name="description" id="editor"></textarea>
                        </div>
                        <!-- <div class="input-group">
                            <h6>How to Participate</h6>
                                <div id=""></div>
                        </div> -->
                  



                        
                        <div id="form-exams-list">
                            <h6 class="mb-0">Perks and Prizes</h6>

                            <div class="form-group d-flex align-items-center">
                              
                              <div class="d-flex">
                              <div class="input-group">
                                <input required="" type="" name="prize_title" autocomplete="off" class="input">
                                <label class="user-label">Prize Title (Eg. Rank 1, Top 5 etc.)</label>
                            </div>
                            <div class="input-group">
                                <input required="" type="text" name="prize" autocomplete="off" class="input">
                                <label class="user-label">Perks Or Prize</label>
                            </div>
                        </div>
                            </div>
                          </div>
                          <button id="add-prize-btn" class="btn btn-primary js-add--exam-row">Add Prize <i class="fa-solid fa-plus"></i></button>






                        <div class="submit-btn-container text-center my-3">
                            <button type="submit" class="submit-btn-contest">Submit</button>
                        </div>

                    </form>
                    
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!--
            The "super-build" of CKEditor 5 served via CDN contains a large set of plugins and multiple editor types.
            See https://ckeditor.com/docs/ckeditor5/latest/installation/getting-started/quick-start.html#running-a-full-featured-editor-from-cdn
        -->
        <script src="https://cdn.ckeditor.com/ckeditor5/38.1.1/super-build/ckeditor.js"></script>
        <!--
            Uncomment to load the Spanish translation
            <script src="https://cdn.ckeditor.com/ckeditor5/38.1.1/super-build/translations/es.js"></script>
        -->
        <script>
            // This sample still does not showcase all CKEditor 5 features (!)
            // Visit https://ckeditor.com/docs/ckeditor5/latest/features/index.html to browse all the features.
            CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
                // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
                toolbar: {
                    items: [
                        'exportPDF','exportWord', '|',
                        'findAndReplace', 'selectAll', '|',
                        'heading', '|',
                        'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                        'bulletedList', 'numberedList', 'todoList', '|',
                        'outdent', 'indent', '|',
                        'undo', 'redo',
                        '-',
                        'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                        'alignment', '|',
                        'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                        'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                        'textPartLanguage', '|',
                        'sourceEditing'
                    ],
                    shouldNotGroupWhenFull: true
                },
                // Changing the language of the interface requires loading the language file using the <script> tag.
                // language: 'es',
                list: {
                    properties: {
                        styles: true,
                        startIndex: true,
                        reversed: true
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                        { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                    ]
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
                placeholder: 'Write all the details of the contest and also add steps to participate.',
                // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
                fontFamily: {
                    options: [
                        'default',
                        'Arial, Helvetica, sans-serif',
                        'Courier New, Courier, monospace',
                        'Georgia, serif',
                        'Lucida Sans Unicode, Lucida Grande, sans-serif',
                        'Tahoma, Geneva, sans-serif',
                        'Times New Roman, Times, serif',
                        'Trebuchet MS, Helvetica, sans-serif',
                        'Verdana, Geneva, sans-serif'
                    ],
                    supportAllValues: true
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
                fontSize: {
                    options: [ 10, 12, 14, 'default', 18, 20, 22 ],
                    supportAllValues: true
                },
                // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
                // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
                htmlSupport: {
                    allow: [
                        {
                            name: /.*/,
                            attributes: true,
                            classes: true,
                            styles: true
                        }
                    ]
                },
                // Be careful with enabling previews
                // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
                htmlEmbed: {
                    showPreviews: true
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
                link: {
                    decorators: {
                        addTargetToExternalLinks: true,
                        defaultProtocol: 'https://',
                        toggleDownloadable: {
                            mode: 'manual',
                            label: 'Downloadable',
                            attributes: {
                                download: 'file'
                            }
                        }
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
                mention: {
                    feeds: [
                        {
                            marker: '@',
                            feed: [
                                '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                                '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                                '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                                '@sugar', '@sweet', '@topping', '@wafer'
                            ],
                            minimumCharacters: 1
                        }
                    ]
                },
                // The "super-build" contains more premium features that require additional configuration, disable them below.
                // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
                removePlugins: [
                    // These two are commercial, but you can try them out without registering to a trial.
                    // 'ExportPdf',
                    // 'ExportWord',
                    'CKBox',
                    'CKFinder',
                    'EasyImage',
                    // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                    // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                    // Storing images as Base64 is usually a very bad idea.
                    // Replace it on production website with other solutions:
                    // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                    // 'Base64UploadAdapter',
                    'RealTimeCollaborativeComments',
                    'RealTimeCollaborativeTrackChanges',
                    'RealTimeCollaborativeRevisionHistory',
                    'PresenceList',
                    'Comments',
                    'TrackChanges',
                    'TrackChangesData',
                    'RevisionHistory',
                    'Pagination',
                    'WProofreader',
                    // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                    // from a local file system (file://) - load this site via HTTP server if you enable MathType.
                    'MathType',
                    // The following features are part of the Productivity Pack and require additional license.
                    'SlashCommand',
                    'Template',
                    'DocumentOutline',
                    'FormatPainter',
                    'TableOfContents'
                ]
            });


            (function() {
  $(document).on('click', '.js-add--exam-row', function(e) {
    var clone, examsList;
    e.preventDefault();
    examsList = $('#form-exams-list');
    clone = examsList.children('.form-group:first').clone(true);
    clone.append($('<button>').addClass('btn btn-danger js-remove--exam-row').html('<i class="fa-solid fa-minus"></i>'));
    clone.find('input').val('').attr('id', function() {
      return $(this).attr('id') + '_' + (examsList.children('.form-group').length + 1);
    });
    return examsList.append(clone);
  });

  $(document).on('click', '.js-remove--exam-row', function(e) {
    e.preventDefault();
    return $(this).parent().remove();
  });

}).call(this);

        </script>
    </body>
</html>
