<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>

    <style>

    </style>
</head>
<body>
    {{>adminsidenav}}
    <div class="main">
       {{!-- <h3 style="text-align: center;">Welcome Admin</h3> --}}
      <h5 style="font-style: italic;">READ THE INSTRUCTIONS CAREFULLY:</h5>
      <ul class="instrucions">
        <p style="font-weight: bold; font-style:italic">GENERAL </p>
        <li class="instruction-li">Please do not share your password and security key with anyone.</li>
<li class="instruction-li">
  Sign Up with valid email id. 
</li>
<li class="instruction-li">Log out after every use. Automatic logout will be initiated in 8 hours of login.</li>
<li class="instruction-li">Review your content after uploading.</li>
<li class="instruction-li">
  Review before deleteing anything. Once deletded cannot be recoverd.
</li>
<li class="instruction-li">
  Do not spam or do not upload foul things. 
</li>
<li class="instruction-li">
  Review before uploading content Once uploaded cannot be edited can only be deleted.
</li>
<li class="instruction-li">
  If you are facing any type of error or problems. contact us.
</li>
      </ul>


      <ul>
        <p style="font-weight: bold; font-style:italic">CONTENT WRITTING</p>
        <li class="instruction-li">
          Write good and quality contet.
        </li>
        <li class="instruction-li">
          Use HTML(if needed) only in <span class="fw-bold">ANSWER</span> do not use in questions.
        </li>
        <li class="instruction-li">If using HTML try to use inline css as much as possible otherwise style with the help of id (prefer) or class. Do not style elements directly with the tags.</li>
     <li class="instruction-li">If using bootstrap do not use the cdn links especilaly script. Comment them before uploading.</li>
      <li class="instruction-li">Do not write anything misleading or misinformation.</li>
      <li class="instruction-li">Review before and after every writting.</li>
     
      </ul>
    </div>
   </div>
</body>
</html>