<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Footer</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Our Custom CSS -->
    {{!-- <link rel="stylesheet" href="Footer.css"> --}}
    <style>
/*
        .bg-dark {
    background-color: rgb(0 0 0 / 0.9) ;
}*/

.footer-links:hover {
    text-decoration: none;
}

.footer-links:hover {
    color: white;
    
     /* color: teal; */
}

.icons {
    font-size: 23px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 100px;
    padding: 6px 13px;
    transition: all .2s ease-in-out;
}

.icons:hover {
    background: #3b5998;
    border-color: #436aaf;
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}

.newsletter-head {
    letter-spacing: 5px;
}

#email-newsletter {
    width: 300px;
    height: calc(1em + 0.75rem + 2px);
    padding: 0.2rem .5rem;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 0.6rem;
    letter-spacing: 2px;
}

#email-newsletterl:focus-visible {
    outline: none;
}

#email-newsletter::placeholder {
    text-transform: uppercase;
}

#btn {
    font-weight: 600;
    padding: 0.2rem 2rem;
    border-radius: 0.6rem;
    margin-left: 18%;
    letter-spacing: 2px;
}

#btn:hover {
    text-transform: uppercase;
}
a{
    color: rgb(33, 150, 243);
}

#btn:focus,
#btn-primary:focus {
    box-shadow: none;
}
.row.justify-content-center{
    padding: 12px;
    padding-top: 5px;
}
#copyright-text{
color:rgb(158, 158, 158);
}
.container-fluid.bg-dark.text-light {
    margin-top: 15px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .icons {
        font-size: 20px;
        padding: 3px 8px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #btn {
        margin-left: 13%;
    }
}

@media screen and (max-width: 576px) {
    #email-newsletter {
        width: 270px;
    }
    .form-group{
        text-align: center;
    }
    #email-newsletter{
        margin: auto;
        width: 75%;
    }
    button#btn  {
        margin: auto;
    }
    .row.justify-content-center{
        padding: 8px;
    }
}

.footer-logo{
    width: 200px;
    height: auto;

}

ul.list-unstyled li {
    padding: 4px;
}


    </style>

</head>

<body>
    <div class="container-fluid bg-dark text-light mt-4">
        <div class="row justify-content-center  pt-3">
            <div class="col-md-4">
                {{!-- <h4>Name/Logo</h4> --}}
                {{!-- <img class="footer-logo" src="/uploads/abv8k-y6kdh.svg" alt="logo"> --}}
                <img class="footer-logo p-2" src="/images/image_(10)-1qCP39dyl-transformed.png" alt="logo">
                {{!-- <p class="text-secondary">Learning Bits of Bits!</p> --}}
               
               {{!-- <h6 class="text-secondary">v1.0.0</h6> --}}
               
                {{!-- <ul class="list-unstyled">
                    <li class="icons list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="icons list-inline-item mx-md-3"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="icons list-inline-item mr-md-3"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="icons list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul> --}}
            </div>

            <div class="col-sm-3 col-md-2 ">
                <ul class="list-unstyled">
                    <li>
                        <h5>Quick Links</h5>
                    </li>
                    <li><a href="/" class="footer-links"> Home</a></li>
                    <li><a href="/About-us" class="footer-links"> About Us</a></li>
                    <li><a href="/Contact" class="footer-links"> Contact Us</a></li>
                    <li><a href="/Privacy-policy" target="_blank" class="footer-links"> Privacy Policy</a></li>
                    <li><a href="/Terms-of-use" target="_blank" class="footer-links"> Terms Of Use</a></li>
                </ul>
            </div>
{{!-- 
            <div class="col-sm-3 col-md-2 ">
                <ul class="list-unstyled">
                    <li>
                        <h5>Engineering</h5>
                    </li>
                    <li><a href="/cse-it/questions" class="footer-links"> Computer Science</a></li>
                    <li><a href="/ME/questions" class="footer-links"> Mechanical</a></li>
                    <li><a href="/MCQ/CSE-IT" class="footer-links"> CS/IT (MCQs)</a></li>
                    <li><a href="/MCQ/ME" class="footer-links"> ME(MCQs)</a></li>
                </ul>
            </div> --}}

            <div class="col-sm-3 col-md-2 ">
                <h5>Languages</h5>
                <ul class="list-unstyled">
                    <li><a href="/language/c" class="footer-links">C</a></li>
                    <li><a href="/language/cpp" class="footer-links">C++</a></li>
                    <li><a href="/language/python" class="footer-links">Java</a></li>
                    <li><a href="/language/java" class="footer-links">Python</a></li>
                    <li><a href="/language/javascript" class="footer-links">JavaScript</a> </li>
                </ul>
            </div>

            <div class="col-sm-3 col-md-2 ">
                <h5>Other Links</h5>
                <ul class="list-unstyled">
                    <li> <a href="/Placement-Prepration/Quantitative-Aptitude"  class="footer-links"> Quantitative Aptitude</a></li>
                    <li> <a href="/Placement-Prepration/Logical-reasoning" class="footer-links"> Logical and Reasoning</a></li>
                    <li> <a href="/Placement-Prepration/English" class="footer-links"> English</a></li>
                    <li> <a href="/Placement-Prepration/Coding" class="footer-links"> Coding Ques</a></li>
                    <li> <a href="/Placement-Prepration/interview-questions" class="footer-links"> Interview Ques</a></li>
                    <!-- <li> <a href="#"> Quiz</a></li> -->
                </ul>
            </div>
        </div>

        <div class="row justify-content-center  my-5">
            <div class="col-md-4">
                <h4 class="newsletter-head">Subscribe Newsletter</h4>
                <p>&#10148; Subscribe to our Newsletter to stay up to date. we don't send spam.</p>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <form action="/newsletter" method="POST">
                    <input type="email" id="email-newsletter" name="nl_email" required class="form-control mb-2" placeholder="Your Email">
               {{#if Subscribed}}    <h6 class="text-success">Subscribed Successfully</h6> {{/if}}
                    <button type="submit" id="btn" class="btn btn-primary mb-2">Submit</button>
                </form>
                </div>
            </div>
        </div>

        <div class="row border-top border-white align-items-center">
            <div id="copyright-text" class="col text-center  my-2">
                <p>Copyright &copy;2023 LearnBits.in | All Rights Reserved</p>
                
            </div>
        </div>
    </div>
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> --}}

</body>

</html>