
    
        <div class="top">
           
               <nav class="navbar navbar-light bg-light p-0">
                <div class="container-fluid pl-0 pr-0">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  {{!-- <a class="navbar-brand"><span  class="logo-style" style="color: orangered;">Learn</span><span class="logo-style" style="color: teal;">Bits</span> </a> --}}
                  {{!-- <a href="/" class="navbar-brand"><img id="logo-icon-1" src="/images/image_(11)-transformed.png" alt="logo"></a> --}}
                  {{!-- <a href="/" class="navbar-brand mx-2"><img id="logo-icon-1" src="/images/new-logo-nav-2.svg" alt="logo"></a> --}}
                  <a href="/" class="navbar-brand mx-2"><img id="logo-icon-1" src="/images/Logo new.svg" alt="logo"></a>

                  <div class="external-pages">             
                    <a class="external-link text-dark" href="/Contact">Contact </a>
                    <a class="external-link text-dark" href="/About-us">About Us</a>
                  </div>


                  <div class="big-search">
                  <form class="google-search-bar">
                    {{!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> --}}
                    {{!-- <button class="btn btn-outline-dark" type="submit">Search</button> --}}
                    <script async src="https://cse.google.com/cse.js?cx=def4fd17e81a196ef"></script>
<div class="gcse-search"></div>
                  </form>
                </div>

                  <div class="search-icon"  >
                  <button class="search-icon-btn" style="background-color: transparent;" id="show-hidden-search" onclick="opensearch()"> <span><i class="fas fa-search " style="color: #676767;" ></i></span></button> 
                  </div>
                </div>
                
              </nav>
              <div class="big-search2" id="search-2" style="display: none;">
              <form class="google-search-bar2">
                    <script async src="https://cse.google.com/cse.js?cx=def4fd17e81a196ef"></script>
<div class="gcse-search"></div>
                  </form>
            </div>

        </div>

        <!--      NAVBAR MENU ITEMS -->
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid p-0">
              
              
              <div class="collapse navbar-collapse bg-dark" id="navbarNav">
                <ul class="navbar-nav">

                   <li class="nav-item-sml">
                    <a class="nav-link text-white"  href="/profile"><i class="fas fa-user-circle"> </i> Profile</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link text-white"  href="/"><i class="fas fa-home"> </i> Home</a>
                  </li>
                  <li class="nav-item">
                    {{!-- <a class="nav-link text-white" href="/books"><i class="fas fa-book-open"> </i> Books</a> --}}
                    <a class="nav-link text-white" href="/blogs"><i class="fas fa-book-open"> </i> Blogs</a>
                  </li>
                  
                 

{{!--             
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-user-tie"> Engineering </i>
                    </a>
                    <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdownMenuLink">
                     <li>
                      <a class="dropdown-item text-white"  href="#">
                       CSE &raquo;
                      </a>
                      <ul class="dropdown-menu dropdown-submenu bg-dark" id="dropdownul">
                        <li>
                          <a  class="question-mcq" href="#">item 1</a>
                        </li>
                        <li>
                          <a class="question-mcq" href="#">item 2</a>
                        </li>

                      </ul>
                     </li>

                    </ul>
                  </li> --> --}}

             


                
            

                  

                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-user-tie"> </i> Prepare
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                         {{!-- <li><a class="dropdown-item text-white" href="/Placement-Prepration/Quantitative-Aptitude">Quantitative Aptitude</a></li> --}}

                       {{!-- <li><a class="dropdown-item text-white" href="/Placement-Prepration/Logical-reasoning">Logical and Reasoning</a></li> --}}
                        {{!-- <li><a class="dropdown-item text-white" href="/Placement-Prepration/English">English (Verbal Ability)</a></li> --}}

                      <li><a class="dropdown-item text-white "href="/Data-Structure-and-Algorithms"><i class="fas fa-database"> </i> Data Structures & Algorithms</a></li>
                      <li><a class="dropdown-item text-white" href="/interview-prep"><i class="fas fa-user"> </i> Interview preparation</a></li>
                    
                      
                    </ul>
                  </li>


                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                      <i class="fas fa-code">  </i> Programming Languages
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item text-white" href="/language/c">C</a></li>
                      <li><a class="dropdown-item text-white "href="/language/cpp">C++</a></li>
                      <li><a class="dropdown-item text-white" href="/language/python">Python</a></li>
                    <li><a class="dropdown-item text-white" href="/language/java">Java</a></li>
                    <li><a class="dropdown-item text-white" href="/language/javascript">JavaScript</a></li>
                    </ul>
                  </li>


                  {{!-- TEMPEROLLY COMMENTEED CONTEST --}}

                  {{!-- <li class="nav-item">
                    <a class="nav-link text-white" href="/contest"><i class="fas fa-trophy"> </i> Contest <span class="wrapper bg-light"><span class="wrapper-text m-0">New</span> </span></a>
                  </li> --}}

                   <!-- ABOUT AND CONTACT FOR SMALL SCREEN   -->
                   <div class="external-pages-sm">
                     <!-- <p class="bg-secondary">More links </p> -->
                <li class="nav-item">
                  <a class="nav-link text-white" href="/Contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/About-us">About Us</a>
                </li>
                <li class="nav-item text-center mb-3">
                      <a class="update-btn" href="/latest-updates">Updates <i class="fa fa-bell text-light"></i>
                       <span class="position-absolute translate-middle p-1 bg-danger border border-light rounded-circle">
    {{!-- <span class="visually-hidden">New alerts</span> --}}
  </span>
                      </a>

                </li>


              </div>

                </ul>

        
                <!--    ======== LOGIN - LOGOUT BTN ============ -->
                 <div class="login-logout">
                    <a class="update-btn" id="update-btn-bg-sc" href="/latest-updates">Updates <i class="fa fa-bell text-light"></i>
                                      <span class="position-absolute translate-middle p-1 bg-danger border border-light rounded-circle">
  </span></a>
                    {{!-- <a class="update-btn" href="/latest-updates">Updates <i class="fa fa-bell text-light"></i></a> --}}

                   {{!-- {{#unless loggedin}}
                    <a href="/register">  <button type="button" class="btn btn-primary text-dark"><i class="fas fa-user-plus"> Register</i></button></a>

                <a href="/login">  <button type="button" class="btn btn-primary text-dark"><i class="fas fa-sign-in-alt"> Login</i></button></a>
                  {{/unless}} --}}
                  <!-- <span><a href="#"></a></span> -->
                  {{!-- {{#if loggedin}} --}}
                  <a href="/profile" class="profile-icon" ><i class="fas fa-user-circle"></i></a>
                  {{!-- <a href="logout"> <button type="button" class="btn btn-primary text-dark"><i class="fas fa-sign-out-alt"> Log Out</i></button></a>
                </div> 
                {{/if}} --}}

              

                
              </div>
            </div>
          </nav>
          
          
         
</div>