<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Error 404 | Not Found</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

		<!-- Our Custom CSS -->
		<link rel="stylesheet" href="error.css">


<link rel="stylesheet" href="/nav-foot.css">
  <script src="index.js"></script>



    {{>headerlinks}}

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<style>
			.container,.row1{
  height: 550px;
}
body {

   
}
.error-404 {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0px auto 50px;
}

.error-404>div:first-child {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffa200;
  transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  border: 5px dashed #000;
  border-radius: 5px;
}
 .error-404 h1 {
  color: #000;
  font-weight: 700;
  margin: 0;
  font-size: 90px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.error-heading {
  font-family: 'Cabin', sans-serif;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.error-text p {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

hr{
  height: 2px;
  border: 2px solid grey;
  background-color: grey;
}

.error-text input{
  font-family: 'Cabin', sans-serif;
  padding: 6px 20px;
  background-color: #8f8f8f;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.error-text input:hover {
  background-color: #2c2c2c;
}

@media screen and (max-width:480px){
  h2.error-heading.ml-md-5.pl-md-5 {
    letter-spacing: 2px;
    font-size: 25px;
}
.btn-error{
  margin-bottom: 20px;
}
}
		</style>
	</head>
	<body>

    {{>navbar}}
		<div class="container mt-4">
			<div class="row row1 justify-content-center">
				<div class="col-md-9 align-self-center">
					<div class="row justify-content-center mb-3 ml-md-5 pl-md-5">
						<h2 class="error-heading ml-md-5 pl-md-5 ">Page not found</h2>
					</div>
					<div class="row justify-content-center mt-5">
						<div class="col-md-4 align-self-center ">
					        <div class="error-404">
						    <div></div>
				            <h1>404</h1>
					        </div>
				        </div>

				        <div class="col-md-8 ">
					        <div class="error-text">						     
			                   <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
			                   <hr>
			                   <ul>				                   		         
			                    <li class="mb-2">
			               		    Check the address for typing errors such as ww.example.com instead of
                                    www.example.com
			               	    </li>
			                 	<li class="mb-2">
			               		    If you are unable to load any pages , check your network connection.
			               	    </li>
			               	    <li class="mb-2">
			               	    	If your computer or network is protected ny a firewall or proxy , make
                                    sure that the browser is permitted to access the web.
			               	    </li>
			                   </ul>

                         <div class="btn-error">
			                  <a href="/"> <input type="button" value="HOME PAGE" class="ml-5"></a>
					       </div>
                  </div>
				        </div>
					</div>
				</div>
			</div>
		</div>

    {{>Footer}}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	</body>
</html>