<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Leanbits</title>

      <meta name="description" content="Join the thousands of students who have already learned with us. Learnbits is designed to help you achieve your goals and advance your career.Get pdf of books, placement prepration, interview prepration,programming language and many more!">
  <meta name="keywords" content="online courses,educational resources,e-learning,placement prepration, Programming languages, interview prepration,self paced learingin, online certifications, pdf of books , engineering">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>   
     <style>
       div#carouselExampleInterval {
    margin-top: 15px;
}
img.d-block.w-100 {
    height: auto;
}
#logo-icon-1{
  width: 100px;
}
.logo-style{
  font-weight: bold !important;
  font-size: 25px !important;
  letter-spacing:1px !important;

  

}
span.logo-style {
    font-family: Helvetica, Arial, sans-serif !important;
}





.section-wraper{
  position: relative;
}


.custom-shape-divider-bottom-1677095601 .shape-fill {
    fill: #FFFFFF;
}
     .wave-background{
      height: 500px;
      background: rgb(0,150,136);
background: -moz-linear-gradient(90deg, rgba(0,150,136,1) 15%, rgba(33,164,152,1) 48%, rgba(128,203,196,1) 70%);
background: -webkit-linear-gradient(90deg, rgba(0,150,136,1) 15%, rgba(33,164,152,1) 48%, rgba(128,203,196,1) 70%);
background: linear-gradient(90deg, rgba(0,150,136,1) 15%, rgba(33,164,152,1) 48%, rgba(128,203,196,1) 70%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009688",endColorstr="#80cbc4",GradientType=1);
     }

     img.hero-section-img {
    width: 350px;
    float: right;
    position: absolute;
    top: 30%;
    right: 10%;
    
}
.herosection-text{
  letter-spacing: 0.8px;
  position: absolute;
    top: 25%;
}
.hero-sec-para{
  width: 400px;
}

button.hero-sec-login-btn {
    padding: 8px 30px;
    letter-spacing: 0.8px;
    background: #fff;
    color: #00796B;
    border: 2px solid #00796B;
    border-radius: 16px;
    font-weight: 600;
    font-variant: all-petite-caps;
    font-size: 18px;
}
button.hero-sec-register-btn{
  padding: 8px 30px;
    letter-spacing: 0.8px;
    background: #00796B;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 16px;
    font-weight: 600;
    font-variant: all-petite-caps;
    font-size: 18px;
}
button.hero-sec-login-btn:hover{
  
}
@media screen and (max-width:767px) {
  .wave-background {
    height: fit-content;
  }
  .herosection-text{
    position: relative;
    width: 90%;
  }
  img.hero-section-img{
    position: inherit;
    margin-bottom: 12px;
     float: none;
    margin-left: auto;
    margin-right: auto;
   
  }
  .img-container-hero{
    text-align: center;
  }
  
}

@media screen and (max-width:480px){
 .herosection-text.p-5{
    position: inherit;
    width: 100%;
    padding: 16px;
  }
  p.hero-sec-para.text-light.my-4{
    width: 100%;
  }button.hero-sec-register-btn,button.hero-sec-login-btn
 {
  padding: 8px 20px;
 } 
  .img-container-hero{
    width: 100%;
    text-align: center;
  }
   img.hero-section-img{
    width: 90%;
   }
}
    </style>


</head>
<body>
{{>navbar}}





<div class="section-wraper-wave">


<div class="wave-background" style="overflow: hidden; background-color:">
  {{!-- <svg
    preserveAspectRatio="none"
    viewBox="0 0 1200 120"
    xmlns="http://www.w3.org/2000/svg"
    style="fill: #ffffff; width: 136%; height: 25px; transform: rotate(180deg) scaleX(-1);"
  >
      <path d="M1200 120L0 16.48V0h1200v120z" />
  </svg>
</div> --}}

<div style="overflow: hidden;" id="hero-section">

  <div class="herosection-text p-5 mt-3">
    <h1 class="text-light">Online Learning Resources</h1>
    <h4 class="text-light">Improve Your Skill</h4>
    <p class="hero-sec-para text-light my-4" style="font-size: 14px;">Sign up today and join our community of lifelong learners. With unlimited access to our online resources, the possibilities are endless. Let us help you achieve your goals and reach your full potential.</p>
   <a href="/books"> <button class="hero-sec-login-btn">Books</button></a>
    <a href="#languages"><button class="hero-sec-register-btn">Resources</button></a>
  </div>
  <div class="img-container-hero">
      <img class="hero-section-img" src="/images/undraw_online_learning_re_qw08.svg" alt="">

  </div>

</div>


</div>



  
            {{!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
 
   <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/uploads/5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/uploads/1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/uploads/4.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">

    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">

    <span class="visually-hidden">Next</span>
  </button>
</div>
          </div> --}}

          {{!-- <h4 class="heading-home my-5">ENGINEERING</h4> --}}

      {{!-- <div class="container mt-4">
        

        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <i class="fas fa-laptop-code"></i>
    <h5 class="card-title">Computer Science Engineering</h5>
    <a class="btn btn-primary" href="/cse-it/questions" id="home-btn-branch" role="button">Questions</a>
    <a class="btn btn-primary" href="/MCQ/CSE-IT" id="home-btn-branch" role="button">MCQs</a>
  </div>
</div>

       <div class="card" style="width: 18rem;">
  <div class="card-body">
    <i class="fas fa-cogs"></i>
    <h5 class="card-title">Mechanical Engineering</h5>
      <a class="btn btn-primary home " href="/ME/questions" id="home-btn-branch" role="button">Questions</a>
    <a class="btn btn-primary home" href="/MCQ/ME" id="home-btn-branch" role="button">MCQs</a>
  </div>
</div>
</div> --}}

   


      <div class="container">
         <h4 id="languages" class="heading-home my-5">LANGUAGES</h4>
        <div class="cards-container-home">

         

          <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img id="icon-svg" src="/uploads/C Programming-595b40b65ba036ed117d3edc.svg" alt="icon-svg">
    <h5 class="card-title">C Language</h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">C  is a general-purpose, procedural computer programming language.</h6> --}}
          <a class="btn btn-primary home " href="/language/c" id="home-btn-branch" role="button">View all</a>

  </div>
</div>


  <div class="card" style="width: 18rem;">
  <div class="card-body">

    <img id="icon-svg" src="/uploads/icons8-c++.svg" alt="icon-svg">
    <h5 class="card-title">C++ </h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
          <a class="btn btn-primary home " href="/language/cpp" id="home-btn-branch" role="button">View all</a>

  </div>
</div>


  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img id="icon-svg" src="/uploads/icons8-python.svg" alt="icon-svg">
    <h5 class="card-title">Python</h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
          <a class="btn btn-primary home " href="/language/python" id="home-btn-branch" role="button">View all</a>

  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img id="icon-svg" src="/uploads/icons8-java.svg" alt="icon-svg">
    <h5 class="card-title">Java</h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
          <a class="btn btn-primary home " href="/language/java" id="home-btn-branch" role="button">View all</a>

  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img id="icon-svg" src="/uploads/icons8-javascript.svg" alt="icon-svg">
    <h5 class="card-title">JavaScript</h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
          <a class="btn btn-primary home " href="/language/javascript" id="home-btn-branch" role="button">View all</a>

  </div>
</div>

        </div>

        {{!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9264128760734539"
     crossorigin="anonymous"></script>
<!-- horizontal ad -1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9264128760734539"
     data-ad-slot="7792328175"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> --}}



        <div class="container-for-otherslinks">
          {{!-- <h4 class="heading-home">OTHERS</h4> --}}
          <div class="book-box ">
            <i class="fas fa-book"></i>
            <div class="banner">
              <h3 class="banner-heading">Download Free Books Pdf Now</h3>
              <a href="/books"><button class="banner-btn">Download Now</button></a>
              
            </div>

          </div>
          

        </div>
      </div>
          
          

         
    {{>Footer}}


          {{!-- <script>
            
            // =========    SEARCH BTN FOR SMALL SCREEN   ===================
            function opensearch() {
    var x = document.getElementById("search-2");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  //      =========== END OF SEARCH       =============


  //      ================ MULTILEVEL DROPDOWN    ================

document.addEventListener("DOMContentLoaded", function(){
        

        /////// Prevent closing from click inside dropdown
        document.querySelectorAll('.dropdown-menu').forEach(function(element){
            element.addEventListener('click', function (e) {
              e.stopPropagation();
            });
        })
    
    
    
        // make it as accordion for smaller screens
        if (window.innerWidth < 992) {
    
            // close all inner dropdowns when parent is closed
            document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
                everydropdown.addEventListener('hidden.bs.dropdown', function () {
                    // after dropdown is hidden, then find all submenus
                      this.querySelectorAll('.submenu').forEach(function(everysubmenu){
                          // hide every submenu as well
                          everysubmenu.style.display = 'none';
                      });
                })
            });
            
            document.querySelectorAll('.dropdown-menu a').forEach(function(element){
                element.addEventListener('click', function (e) {
        
                      let nextEl = this.nextElementSibling;
                      if(nextEl && nextEl.classList.contains('submenu')) {	
                          // prevent opening link if link needs to open dropdown
                          e.preventDefault();
                          console.log(nextEl);
                          if(nextEl.style.display == 'block'){
                              nextEl.style.display = 'none';
                          } else {
                              nextEl.style.display = 'block';
                          }
    
                      }
                });
            })
        }
        // end if innerWidth
    }); 

        // ================   END OF MULTILEVEL DROPDOWN    =============
  


 
 
          </script> --}}
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>