<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Leanbits</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>   
     <style>
       div#carouselExampleInterval {
    margin-top: 15px;
}
img.d-block.w-100 {
    height: auto;
}
#logo-icon-1{
  width: 100px;
}
.logo-style{
  font-weight: bold !important;
  font-size: 25px !important;
  letter-spacing:1px !important;

  

}
span.logo-style {
    font-family: Helvetica, Arial, sans-serif !important;
}





.section-wraper{
  position: relative;
}


.custom-shape-divider-bottom-1677095601 .shape-fill {
    fill: #FFFFFF;
}
     .wave-background{
      height: 500px;
      background: rgb(0,150,136);
background: -moz-linear-gradient(90deg, rgba(0,150,136,1) 15%, rgba(33,164,152,1) 48%, rgba(128,203,196,1) 70%);
background: -webkit-linear-gradient(90deg, rgba(0,150,136,1) 15%, rgba(33,164,152,1) 48%, rgba(128,203,196,1) 70%);
background: linear-gradient(90deg, rgba(0,150,136,1) 15%, rgba(33,164,152,1) 48%, rgba(128,203,196,1) 70%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009688",endColorstr="#80cbc4",GradientType=1);
     }
    </style>


</head>
<body>

    
        <div class="sticky-top">
           
              <nav class="navbar navbar-light bg-light p-0">
                <div class="container-fluid pl-0 pr-0">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  {{!-- <a class="navbar-brand"><span  class="logo-style" style="color: orangered;">Learn</span><span class="logo-style" style="color: teal;">Bits</span> </a> --}}
                  <a href="/" class="navbar-brand"><img id="logo-icon-1" src="./images/image_(11)-transformed.png" alt="logo"></a>

                  <div class="external-pages">             
                    <a class="external-link text-dark" href="/Contact">Contact </a>
                    <a class="external-link text-dark" href="About-us">About Us</a>
                  </div>

                  <div class="big-search">
                  <form class="google-search-bar">
                    {{!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> --}}
                    {{!-- <button class="btn btn-outline-dark" type="submit">Search</button> --}}
                    <script async src="https://cse.google.com/cse.js?cx=def4fd17e81a196ef"></script>
<div class="gcse-search"></div>
                  </form>
                </div>

                  <div class="search-icon"  >
                  <button class="search-icon-btn" onclick="opensearch()"> <span><i class="fas fa-search text-dark" ></i></span></button> 
                  </div>
                </div>
                
              </nav>
              <div class="big-search2" id="search-2">
              <form class="google-search-bar2">
                    {{!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> --}}
                    {{!-- <button class="btn btn-outline-dark" type="submit">Search</button> --}}
                    <script async src="https://cse.google.com/cse.js?cx=def4fd17e81a196ef"></script>
<div class="gcse-search"></div>
                  </form>

            </div>

        </div>

        <!--      NAVBAR MENU ITEMS -->
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid p-0">
              
              
              <div class="collapse navbar-collapse bg-dark" id="navbarNav">
                <ul class="navbar-nav">

                   <li class="nav-item-sml">
                    <a class="nav-link text-white"  href="/profile"><i class="fas fa-user-circle"> Profile</i></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link text-white"  href="/"><i class="fas fa-home"> Home</i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/books"><i class="fas fa-book-open"> Books</i></a>
                  </li>
                 

               <!--     DROPDOWN HOVER     -->
                  <!-- <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-user-tie"> Engineering </i>
                    </a>
                    <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdownMenuLink">
                     <li>
                      <a class="dropdown-item text-white"  href="#">
                       CSE &raquo;
                      </a>
                      <ul class="dropdown-menu dropdown-submenu bg-dark" id="dropdownul">
                        <li>
                          <a  class="question-mcq" href="#">item 1</a>
                        </li>
                        <li>
                          <a class="question-mcq" href="#">item 2</a>
                        </li>

                      </ul>
                     </li>

                    </ul>
                  </li> -->

                  <!--        DROPDOWN  FOR ENGINEERING       -->


             
                <!-- </ul> -->


                
                





                  {{!-- <li class="nav-item">
                    <a class="nav-link text-white" href="/Gate"><i class="fas fa-pen"> Gate</i></a>
                  </li> --}}
                  <!-- <li class="nav-item">
                    <a class="nav-link text-white" href="#"><i class="fas fa-user"> Interview Questions</i></a>
                  </li> -->


                  

                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-user-tie"> Placement Prepration </i>
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                         <li><a class="dropdown-item text-white" href="/Placement-Prepration/Quantitative-Aptitude">Quantitative Aptitude</a></li>

                       <li><a class="dropdown-item text-white" href="/Placement-Prepration/Logical-reasoning">Logical and Reasoning</a></li>
                        <li><a class="dropdown-item text-white" href="/Placement-Prepration/English">English (Verbal Ability)</a></li>

                      <li><a class="dropdown-item text-white "href="/Placement-Prepration/Coding">Coding Questions</a></li>
                      <li><a class="dropdown-item text-white" href="/Placement-Prepration/interview-questions"><i class="fas fa-user"> Interview Questions</i></a></li>
                      
                    </ul>
                  </li>


                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                      <i class="fas fa-code"> Languages </i>
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item text-white" href="/language/c">C</a></li>
                      <li><a class="dropdown-item text-white "href="/language/cpp">C++</a></li>
                      <li><a class="dropdown-item text-white" href="/language/python">Python</a></li>
                    <li><a class="dropdown-item text-white" href="/language/java">Java</a></li>
                    <li><a class="dropdown-item text-white" href="/language/javascript">JavaScript</a></li>
                    </ul>
                  </li>

                   <!-- ABOUT AND CONTACT FOR SMALL SCREEN   -->
                   <div class="external-pages-sm">
                     <!-- <p class="bg-secondary">More links </p> -->
                <li class="nav-item">
                  <a class="nav-link text-white" href="Contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="About-us">About Us</a>
                </li>
              </div>

                </ul>

        
                <!--    ======== LOGIN - LOGOUT BTN ============ -->

                 <div class="login-logout">
                   {{#unless loggedin}}
                    <a href="/register">  <button type="button" class="btn btn-primary text-dark"><i class="fas fa-user-plus"> Register</i></button></a>

                <a href="/login">  <button type="button" class="btn btn-primary text-dark"><i class="fas fa-sign-in-alt"> Login</i></button></a>
                  {{/unless}}
                  <!-- <span><a href="#"></a></span> -->
                  {{#if loggedin}}
                  <a href="/profile" class="profile-icon" ><i class="fas fa-user-circle"></i></a>
                  <a href="logout"> <button type="button" class="btn btn-primary text-dark"><i class="fas fa-sign-out-alt"> Log Out</i></button></a>
                </div> 
                {{/if}}

              

                
              </div>
            </div>
          </nav>







<div class="section-wraper-wave">


<div class="wave-background" style="overflow: hidden; background-color:">
  {{!-- <svg
    preserveAspectRatio="none"
    viewBox="0 0 1200 120"
    xmlns="http://www.w3.org/2000/svg"
    style="fill: #ffffff; width: 136%; height: 25px; transform: rotate(180deg) scaleX(-1);"
  >
      <path d="M1200 120L0 16.48V0h1200v120z" />
  </svg>
</div> --}}

<div style="overflow: hidden;">
  <svg
    preserveAspectRatio="none"
    viewBox="0 0 1200 120"
    xmlns="http://www.w3.org/2000/svg"
    style="fill: #f5f5f5; width: 142%; height: 57px; transform:  scaleX(-1);"
  >
    {{!-- <path d="M1200 120L0 16.48V0h1200v120z" /> --}}
  </svg>
  <div class="herosection-text p-5">
    <h1 class="text-light">This is some text here...</h1>
  </div>
</div>


</div>



  
            {{!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
 
   <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/uploads/5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/uploads/1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/uploads/4.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">

    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">

    <span class="visually-hidden">Next</span>
  </button>
</div>
          </div> --}}

          {{!-- <h4 class="heading-home my-5">ENGINEERING</h4> --}}

      {{!-- <div class="container mt-4">
        

        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <i class="fas fa-laptop-code"></i>
    <h5 class="card-title">Computer Science Engineering</h5>
    <a class="btn btn-primary" href="/cse-it/questions" id="home-btn-branch" role="button">Questions</a>
    <a class="btn btn-primary" href="/MCQ/CSE-IT" id="home-btn-branch" role="button">MCQs</a>
  </div>
</div>

       <div class="card" style="width: 18rem;">
  <div class="card-body">
    <i class="fas fa-cogs"></i>
    <h5 class="card-title">Mechanical Engineering</h5>
      <a class="btn btn-primary home " href="/ME/questions" id="home-btn-branch" role="button">Questions</a>
    <a class="btn btn-primary home" href="/MCQ/ME" id="home-btn-branch" role="button">MCQs</a>
  </div>
</div>
</div> --}}

   


      <div class="container">
         <h4 class="heading-home my-5">LANGUAGES</h4>
        <div class="cards-container-home">

         

          <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img id="icon-svg" src="/uploads/C Programming-595b40b65ba036ed117d3edc.svg" alt="icon-svg">
    <h5 class="card-title">C Language</h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">C  is a general-purpose, procedural computer programming language.</h6> --}}
          <a class="btn btn-primary home " href="/language/c" id="home-btn-branch" role="button">View all</a>

  </div>
</div>


  <div class="card" style="width: 18rem;">
  <div class="card-body">

    <img id="icon-svg" src="/uploads/icons8-c++.svg" alt="icon-svg">
    <h5 class="card-title">C++ </h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
          <a class="btn btn-primary home " href="/language/cpp" id="home-btn-branch" role="button">View all</a>

  </div>
</div>


  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img id="icon-svg" src="/uploads/icons8-python.svg" alt="icon-svg">
    <h5 class="card-title">Python</h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
          <a class="btn btn-primary home " href="/language/python" id="home-btn-branch" role="button">View all</a>

  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img id="icon-svg" src="/uploads/icons8-java.svg" alt="icon-svg">
    <h5 class="card-title">Java</h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
          <a class="btn btn-primary home " href="/language/java" id="home-btn-branch" role="button">View all</a>

  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img id="icon-svg" src="/uploads/icons8-javascript.svg" alt="icon-svg">
    <h5 class="card-title">JavaScript</h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
          <a class="btn btn-primary home " href="/language/javascript" id="home-btn-branch" role="button">View all</a>

  </div>
</div>

        </div>

        {{!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9264128760734539"
     crossorigin="anonymous"></script>
<!-- horizontal ad -1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9264128760734539"
     data-ad-slot="7792328175"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> --}}



        <div class="container-for-otherslinks">
          {{!-- <h4 class="heading-home">OTHERS</h4> --}}
          <div class="book-box ">
            <i class="fas fa-book"></i>
            <div class="banner">
              <h3 class="banner-heading">Download Free Books Pdf Now</h3>
              <a href="/books"><button class="banner-btn">Download Now</button></a>
              
            </div>

          </div>
          

        </div>
      </div>
          
          

         
    {{>Footer}}


          {{!-- <script>
            
            // =========    SEARCH BTN FOR SMALL SCREEN   ===================
            function opensearch() {
    var x = document.getElementById("search-2");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  //      =========== END OF SEARCH       =============


  //      ================ MULTILEVEL DROPDOWN    ================

document.addEventListener("DOMContentLoaded", function(){
        

        /////// Prevent closing from click inside dropdown
        document.querySelectorAll('.dropdown-menu').forEach(function(element){
            element.addEventListener('click', function (e) {
              e.stopPropagation();
            });
        })
    
    
    
        // make it as accordion for smaller screens
        if (window.innerWidth < 992) {
    
            // close all inner dropdowns when parent is closed
            document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
                everydropdown.addEventListener('hidden.bs.dropdown', function () {
                    // after dropdown is hidden, then find all submenus
                      this.querySelectorAll('.submenu').forEach(function(everysubmenu){
                          // hide every submenu as well
                          everysubmenu.style.display = 'none';
                      });
                })
            });
            
            document.querySelectorAll('.dropdown-menu a').forEach(function(element){
                element.addEventListener('click', function (e) {
        
                      let nextEl = this.nextElementSibling;
                      if(nextEl && nextEl.classList.contains('submenu')) {	
                          // prevent opening link if link needs to open dropdown
                          e.preventDefault();
                          console.log(nextEl);
                          if(nextEl.style.display == 'block'){
                              nextEl.style.display = 'none';
                          } else {
                              nextEl.style.display = 'block';
                          }
    
                      }
                });
            })
        }
        // end if innerWidth
    }); 

        // ================   END OF MULTILEVEL DROPDOWN    =============
  


 
 
          </script> --}}
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>