<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body{
           background-color: rgb(38, 166, 154);
		font-family: 'Roboto', sans-serif;
  
            /* font-family: 'Roboto', sans-serif; */
        }
        .input-group {
    margin-bottom: 25px;
}
input.form-control{
    padding: 8px;
    
}
input.form-control:focus{
    box-shadow: none;
    border: 2px solid rgb(38, 166, 154);
}
.login-form label {
		font-weight: normal;
		font-size: 13px;
	}
    .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
span.input-group-addon{
    font-size: 20px;
    align-self: center;
    width: 40px;
    text-align: center;
}
.login-form {
    width: 500px;
    background: white;
    padding: 25px;
    border-radius: 5px;
}
.form-group {
    text-align: center;
    color: gray;
    margin-bottom: 15px;
}
.login-form h2{
    color: white;
}
.form-container {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h3 {
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bold;
}
button.btn.btn-primary{
    background: rgb(77, 182, 172);
    border: none;
    border-radius: 5px;
    color: white;
    
   
}

button.btn.btn-primary:hover{
    background: rgba(3, 143, 129, 0.527);
}
.login-form hr {
        margin: 0 -30px 20px;
        color: gray;
        margin-bottom: 20px;
    }
    h3{
        text-align: center;
        margin-bottom: 15px;
    }
    .register-link{
       color:rgb(77, 182, 172);
    }
    .register-link:hover{
        color: rgb(0, 121, 107);
    }
    .container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .forgot-link{
        text-decoration: none;
        color:rgb(77, 182, 172) ;
    }
    .forgot-link:hover{
        color:rgb(77, 182, 172);
    }
    .form-group {
    margin-top: 20px;
}
form {
    margin-top: 5px;
    margin: 20px;
    padding: 12px;
}
.form-group {
    margin-top: 20px;
}
button.btn.btn-primary {
    width: 180px;
    border-radius: 20px;
    padding: 12px;
}
button.btn.btn-primary:focus{
    box-shadow: none;
}

i.fa.fa-paper-plane,i.fa.fa-lock{
    color: #00897B;
}
 @media screen and (max-width:991px){
     .login-form{
         height: 450px;
     }
     form {
    margin-top: 40px;
}

 }

    @media screen and (max-width:520px){
		.form-container{
			width: 98%;
		}
	}
     @media screen and (min-width:992px){
        .login-form{
            height: 440px;
        }
        form {
    margin-top: 30px;
}
    }

    .alert.alert-warning.alert-dismissible.fade.show{
        width: 80%;
        margin: auto;
    }
    </style>
</head>
<body>
            {{#if notexist}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
   Username or E-mail doesn't exist. Please <a class="alert-link" href="/register" >register now</a> .
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if invalidcredential}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
   Invalid Username or Password
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
    <div class="container">
 


        <div class="form-container">
    
            <div class="login-form">
            <form action="/login" method="POST">
                 <h3 style="letter-spacing: 0.8px;">Login</h3>
                 {{!-- <hr>  --}}

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>

            </form>
            <div class="forgot-link-div">
                <p><a class="forgot-link" href="#">Forgot Password</a></p>
            </div>
            <div class="register-opt">
                <h6>Don't have Account! <a class="register-link" href="/register">Regsiter Now</a>.</h6>
            </div>
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>