/* STYLING NAVBAR */
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    font-family: 'Inter', 'Roboto Slab',sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 30px 8px;

}
.menu-icon{
  display: none;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:#e2e7fb; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #49537A;
  background-color:#d2d9f8;
  display: block;
  transition: 0.3s;
  margin: 4px;
  border-radius: 12px;
}
a.closebtn{
  background-color: transparent;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#pricing,#services,#how-we-do{
  color: #49537A;
  /* font-family:  'Roboto Slab',sans-serif; */
letter-spacing: 0.4px;

}

.landing-heading{
  /* color: #4B62C1; */
  color: #495CA8;
}
.landing-para{
  color: #49537A;
  font-family: 'Inter', 'Roboto Slab',sans-serif;
font-size: 15px;
letter-spacing: 0.5px;
}
.landing-page{
    /* background-color:#B2DFDB; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eff2ff;
    position: relative;
    /* z-index: -5; */
}
.svg-waves{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-image: url(path/to/your/svg.svg); */
  background-repeat: no-repeat;
  background-size: cover; 
}
.side-img-container {
  /* position: absolute; */
  position: absolute;
  top: 141px;
  width: 42%;
  text-align: center;
  height: 100vh;
  /* margin-left: auto; */
  z-index: 0;
  /* background-image: url(path/to/your/svg.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  right: 6%;
  justify-content: center;
  opacity: 0.8px;
}

.other-links{
    margin-left: auto;
    margin-right: 80px;

}
nav a{
   
    color: #3c4464;

    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    /* z-index: 100; */
}
.get-in-touch{
  padding: 10px;
  background-color: #617CEA;
  border-radius: 12px;
  color: #fff;
}
.landing-text{
    width: 50%;
    padding: 34px;
   
    /* align-items: center; */
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 45px;
}
.landing-text .landing-heading{
    font-size: 48px;
}

/* DESCRIPTION SECTION   */
.description{
  /* font-family: ; */
  font-family: 'Inter', 'Roboto Slab',sans-serif;
  letter-spacing: 0.3px;
  word-spacing: 0.5px;
  line-height: 1.7;
  font-size: 14px;
  color: rgb(96, 96, 96);
  position: relative;
  background-color: #FAFBFF;
}
.background-shape{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  opacity: 0.2;
}
.items-container{
  width: 50%;
  /* justify-content: space-evenly; */
}
.in-between-text-highlight{
  font-size: 20px !important;
  color: #4B62C1;
  font-weight: 600;
  /* letter-spacing: 0.4px; */
}
/* .in-between-text-highlight-2{
  font-size: 20px;
  color: #C85454;
  font-weight: 600;
} */

/* 
 */

 .card{
    width: 320px;
    padding: 8px;
    flex-direction: row !important; 
    margin: 4px;
    font-family: 'Inter', 'Roboto Slab',sans-serif;
    letter-spacing: 0.4px;
    font-size: 15px;
    color: rgba(129, 128, 128, 0.87);
    color: #464545;
    line-height: 1.8;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }
 .card-container{
    flex-wrap: wrap;
 }
 .card:hover{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: ease;
 }
 .card-heading{
    width: fit-content;
    color: #FF8787;
    color: #617CEA;
    
 }
 .card-heading h6 {
    letter-spacing: 0.5px;
 }
 .card-heading h6 span{
    font-size: 55px;

    color: #C85454;
    /* color: #4B62C1; */
 }
 .card-body{
   /* color: #464545;; */
 }
 .side-1{
    align-items: center;
    /* line-height: 2; */
 }
.side-1 h3{
    font-size: 40px;
    /* font-weight: bold; */
    letter-spacing: 0.5px;
    line-height: 1.4;
    color: #546ED6;
    font-family: 'Inter', 'Roboto Slab',sans-serif;
}








 /*  */
 .content{
    width: 60%;
 }
 .content h3{
    font-family: 'Inter', 'Roboto Slab',sans-serif;
    letter-spacing: 0.5px;
    color: #4B62C1;
    font-weight: bold;
 }
 .content .content-para{
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 2;
    font-family: 'Inter', 'Roboto Slab',sans-serif;
    color: #464545;
 }


 /* PRICING DESIGN */
 .pricing-table ul{
    list-style: none;
    padding: 0;
 }
 .pricing-table-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6em;
    color: #FFF;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
  
  .pricing-table-title a {
    font-size: 0.6em;
  }
  
  .clearfix:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    clear: both;
  }
  /** ========================
   * Contenedor
   ============================*/
  .pricing-wrapper {
    width: 960px;
    margin: 40px auto 0;
  }
  
  .pricing-table {
    margin: 0 10px;
    text-align: center;
    width: 300px;
    float: left;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .pricing-table:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
  }
  
  .pricing-title {
    color: #FFF;
    background: #546ED6;
    padding: 8px 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
  .pricing-note p{
    font-size: 12px;
    
  }
 
  
  .pricing-table.recommended .pricing-action {
    /* background: #2db3cb; */
  }
  
  .pricing-table .price {
    /* background: #A2B2F3; */
    font-size: 2em;
    font-weight: 700;
    color: #4B62C1;
    padding: 12px 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }

  .starting-from{
    font-size: 12px;
    

  }
  
  .pricing-table .price sup {
    font-size: 0.4em;
    position: relative;
    left: 5px;
  }
  
  .table-list {
    background: #FFF;
    color: #403d3a;
  }
  
  .table-list li {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 8px;
  }
  
  .table-list li:before {
    /* content: "\f00c"; */
    /* font-family: 'FontAwesome'; */
    color: #3fab91;
    display: inline-block;
    position: relative;
    right: 5px;
    font-size: 16px;
  } 
  
  .table-list li span {
    font-weight: 400;
  }
  
  .table-list li span.unlimited {
    /* color: #FFF;
    background: #e95846;
    font-size: 0.9em;
    padding: 5px 7px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px; */
  }
  
  
  .table-list li:nth-child(2n) {
    background: #F0F0F0;
  }
  
  .table-buy {
    background: #FFF;
    padding: 15px;
    text-align: left;
    overflow: hidden;
  }
  
  .table-buy p {
    float: left;
    color: #37353a;
    font-weight: 700;
    font-size: 2.4em;
  }
  
  .table-buy p sup {
    font-size: 0.5em;
    position: relative;
    left: 5px;
  }
  
  .table-buy .pricing-action {
    /* float: right; */
    color: #FFF;
    background: #617CEA;
    padding: 8px 16px;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /* font-weight: 700; */
    /* font-size: 18px; */
    /* text-shadow: 0 1px 1px rgba(0,0,0,0.4); */
    /* -webkit-transition: all 0.25s ease; */
    /* -o-transition: all 0.25s ease; */
    /* transition: all 0.25s ease; */
    font-family: 'Inter';
  }
  
  .table-buy .pricing-action:hover {
    /* background: #cf4f3e; */
  }
  
  .recommended .table-buy .pricing-action:hover {
    /* background: #228799;   */
  }
  
  /** ================
   * Responsive
   ===================*/
   @media only screen and (min-width: 768px) and (max-width: 959px) {
    .pricing-wrapper {
      width: 768px;
    }
  
    .pricing-table {
      width: 236px;
    }
    
    .table-list li {
      font-size: 1.3em;
    }
  
   }
  
   @media only screen and (max-width: 767px) {
    .pricing-wrapper {
      width: 420px;
    }
  
    .pricing-table {
      display: block;
      float: none;
      margin: 0 0 20px 0;
      width: 100%;
    }
   }
  
  @media only screen and (max-width: 479px) {
    .pricing-wrapper {
      width: 90%;
    }
  } 













/* 
 */

 input#fname ,input#lname{

 }
 .contact-form input,.contact-form textarea{
    margin: 8px;
    padding: 8px;
    border-color:#4B62C1;
 }
 .contact-form input:focus,.contact-form textarea:focus{
    outline: 0;
   box-shadow: none;
    
    
  
 }
.form-container
{
    z-index: 2;
    position: relative;
}

 /* btn */
 button {
    /* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    font-family: 'Inter', 'Roboto Slab',sans-serif;
    padding: 16px 50px;
    letter-spacing: 0.4px;
    margin: 8px !important;
    font-weight: 500;
    background: #4B62C1;
    color: #fff;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px !important;
  }
  
  .gradient {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    left: 0;
    top: 0;
    border-radius: 8px;
    margin-top: -0.25em;
    background-image: #546ED6;
  }
  
  .label {
    position: relative;
    top: -1px;
  }
  
  .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: #748FFC;
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  button:hover .transition {
    width: 14em;
    height: 14em;
  }
  
  button:active {
    transform: scale(0.97);
  }

  .contact-section

  {
    position: relative;
    background-color: #e5e5f7;
    background-color: #e5e5f7;
/* opacity: 0.8; */
background-image: radial-gradient(#617CEA 0.5px, #F0F2FA 0.5px);
background-size: 10px 10px;

  }
  .contact-form-content{
    font-family: 'Inter', 'Roboto Slab',sans-serif;

  }
  .wave{
    position: absolute;
    z-index: 1;
  }

  .form-check-label{
    font-size: 14px;
  }
  .wrapper{
    display: flex;

  }
  .wrapper .option{
    background: #fff;
    /* height: 100%; */
    /* width: 90px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    /* margin-right: 2px; */
    margin: 4px;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2,
  #option-3:checked:checked ~ .option-3{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot,
  #option-3:checked:checked ~ .option-3 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before,
  #option-3:checked:checked ~ .option-3 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    /* font-size: px; */
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span,
  #option-3:checked:checked ~ .option-3 span{
    color: #fff;
  }
  .wrapper {
    flex-wrap: wrap;
}

  /* FOOTER    */
  footer{
    color: #fff;
    background-color: #748FFC;
    background-color: #546ED6;
    font-family: 'Inter', 'Roboto Slab',sans-serif;

  }
  .footer-container{
    /* background-color: #F9F8F8; */
    /* background-color: #617CEA; */
    /* background-color: #748FFC; */
    color: #fff;

    display: flex;
    justify-content: space-evenly;

  }
  
  i.fa-regular.fa-envelope,i.fa-brands.fa-instagram,.fa-solid.fa-link{
    color: #fff;
    font-size: 28px;
    margin: 10px;
  }

  .explore a, .quick-links a, .tandc-btn{
    text-decoration: none;
    color: #ecececdc;
    padding: 2px;
    font-size: 14px;
    letter-spacing: 0.4px;
    margin: 2px;

  }

  .explore a:hover, .quick-links a:hover, .tandc-btn:hover{
    color: #fff;
  }
  .main-site-btn{
    padding: 6px 12px;
    background-color:#495CA8;
    
  }
  .main-site-btn:hover{
    background-color: #3B4E9E;
  }


  @media screen and (max-width:768px) {
    .other-links{
      display: none;
    }
    .menu-icon{
      display: block;
      margin-left: auto;
      margin-right: 20px;
      font-size: 24px;
    }
    .offcanvas{
      background-color: #f1f4fd !important;
    }
    .offcanvas-body ul {
      padding: 0;
    }
    .offcanvas-body ul li{
      list-style: none;
      /* background-color: #748FFC; */
      background-color: #cbd5f6;

      border-radius: 8px;
      padding: 6px;
      color: #49537A;
      /* margin: 4px; */
    }
    .menu-link{
      /* padding: 4px; */
      /* height: 20px !important; */
      /* padding: 0; */
      padding: 8px;
      display: block;
    }
  }
  @media screen and (max-width:576px) {
    nav{
      padding: 18px 8px;
    }
    .landing-page{
      height: auto;
    }
    .landing-text{
      width: 100%;
      padding: 20px;
    }
    .side-img-container{
      position: relative;
      width: 90%;
      top: auto;
      right: auto;
      height: auto;
      text-align: center;
      padding-bottom: 12px;
    }
    .content{
      width: 100%;
    }
    .services-box-flex-2,.services-box-flex-4{
      flex-direction: column;
      width: 100%;
    }
    .services-box-flex-1,.services-box-flex-3{
      flex-direction: column-reverse;
    }
    .services-box-flex-1 img,.services-box-flex-3 img, .services-box-flex-2 img, .services-box-flex-4 img{
      /* flex-direction: column-reverse; */
      width: 90%;
      margin: auto;
    }
 
    .items-container-flex{
      flex-direction: column;

    }
    .items-container-flex img{
      width: 100%;
      margin-bottom: 20px;
    }
    .items-container{
      width: 100%;
    }



    .divider{
      flex-direction: column;
    }
    .side-1{
      width: 100% !important;
    }







    .contact-form input, .contact-form textarea{
      margin: 8px auto;
    }


    .footer-container{
      flex-direction: column;
    }
  }