<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Article</title>
    {{!-- <link rel="stylesheet" href=">
     --}}

     <link rel="stylesheet" href="/nav-foot.css">
    {{>headerlinks}}



    <style>


    
    </style>
</head>
<body>
    {{>navbar}}

    <div class="container">
        <div class="flex-container d-flex">
            <div class="first-col">
                <div class="form-container">

                <form action="">
                    <div class="input-box">

                    <input type="text" name="articleTitle" id="articleTitle" placeholder="Title">
                    </div>
                    <div class="input-box">

                    <input type="text" name="articleTitle" id="articleTitle" placeholder="Title">
                    </div>
                    <div class="input-box">

                    <input type="text" name="articleTitle" id="articleTitle" placeholder="Title">
                    </div>
                    <input type="text" name="articleTitle" id="articleTitle" placeholder="Title">
                    <select name="catagory" id="Catagory">
                        <option value="Something">Something</option>
                        <option value="Something">Something</option>
                        <option value="Something">Something</option>
                        <option value="Something">Something</option>
                      
                    </select>
                </form>
                </div>

            </div>
            <div class="second-col">
                <h5>Choose from Given Topic:</h5>

            </div>
        </div>
    </div>
    {{>Footer}}
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script> --}}


</body>
</html>