

.other-card {
    position: relative;
height: 150px;
    width: 300px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0;
    /* margin: 12px; */
    .circle {
      border-radius: 3px;
      width: 100px;
      height:100px;
      background: black;
      position: absolute;
      right: 0px;
      top: 0;
      background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
      border-bottom-left-radius: 170px;
     
    }
    .content {
      display: flex;
      flex-direction: column;
    }

  
    .location {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      i {
        color: red;
      }
      p {
        font-weight: 300;
      }
    }
    }
  



    .circle {
        border-radius: 3px;
        width: 100px;
        height: 100px;
        background: black;
        position: absolute;
        right: 0px;
        top: 0;
        background-image: linear-gradient(to top,rgb(91, 91, 191) 0%, #A2C8E7 100%);
        border-bottom-left-radius: 170px;
      }


      /* ==================== */

      
.feedback-box{
  background-color: #fff;
  border: 2px solid #617CEA;
  border-radius: 4px;
  padding: 12px;
  font-family: 'Inter';
  font-size: 14px;
  margin: 4px;

}
.feedback-box i{
  font-size: 20px;
  color: #546ED6;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #546ED6;
  margin: 0px 6px;
}
.feedback-box i:hover{
  background-color: #546ED6;
  color: #fff;
  transition: 400ms ease;
}

.feedback-box .section-1{
  align-items: center;
font-weight: 600;
letter-spacing: 0.4px;
color: #546ED6;


}
.feedback-box .section-1 i{
  color: #FFA94D;
  font-size: 25px;
  border-radius: 6px;
  
}

  .rating {
      cursor: pointer;
    }

    .rating-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0.4rem 0.8rem;
      width: 100%;
    }

 

    .rating-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .svg {
      fill: #aaa;
      height: 3rem;
      width: 3rem;
      margin: 0.2rem;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .rating-form-2 svg {
      height: 3rem;
      width: 3rem;
      margin: 0.5rem;
    }

    #radios label {
      position: relative;
    }

    .super-happy,
    [type="radio"] {
      position: absolute;
      opacity: 0;
    }

    .input,
    [type="radio"] + svg {
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }

    .super-happy[class="super-happy"]:hover + svg,
    .super-happy[class="super-happy"]:checked + svg,
    .super-happy[class="super-happy"]:focus + svg {
      fill: rgb(0, 204, 79);
      scale: 1.2;
    }

    .neutral[class="neutral"]:hover + svg,
    .neutral[class="neutral"]:checked + svg,
    .neutral[class="neutral"]:focus + svg {
      fill: rgb(232, 214, 0);
      scale: 1.2;
    }

    .super-sad[class="super-sad"]:hover + svg,
    .super-sad[class="super-sad"]:checked + svg,
    .super-sad[class="super-sad"]:focus + svg {
      fill: rgb(239, 42, 16);
      /* transition: 1.5s; */
      scale: 1.2;
    }
